# Include this file in ~/.gitconfig
# [include]
#   path = ~/myconfs/.gitconfig
[color]
  ui = auto
[push]
  default = simple
  followTags = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[branch]
  autosetuprebase = always
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  less = log --graph --pretty='%Cred%<(8)%h %Cblue%<(17)%an %Cgreen%<(14)%cr %Creset - %s%C(yellow)%d%Creset'
  summary = log --pretty='format:%Cgreen%h %Cred%ai %Cgreen%an %Creset- %s'
  more = log --decorate --graph
